<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="angel.it.picremember"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="angel.it.picremember.MainActivity"
            android:label="@string/app_name"
            android:configChanges="locale|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="angel.it.picremember.PlayActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="angel.it.picremember.OptionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="angel.it.picremember.HighScoreActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>